@{
    ViewData["Title"] = "View";
}

<h1>IA Sentimental</h1>

<p>Ingrese el texto a analizar</p>


<form asp-controller="IA" asp-action="AnalizarTexto" method="post">
    <div class="form-group">
        <label for="textInput">Texto a analizar:</label>
        <input type="text" id="textInput" name="textInput" class="form-control" required>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Analizar</button>
</form>
<br />
<div>
    <p>
        @if(@Model != null)
        {
            <p>Resultado de la predicción:</p>
            @if (@Model.PredictedLabel == 1)
            {
                <span>El sentimiento del comentario es POSITIVO.</span>
            }
            else
            {
                <span>El sentimiento del comentario es NEGATIVO.</span>
            }
        }
        
    </p>
</div>